In [3]:
print('Hello world')

Hello world

In [4]:
print('Hello world')

Hello world

In [7]:
var=15
print(var)

15

In [8]:
print(type(var))

<class 'int'>

In [10]:
var='geetha'
print(var)

geetha

In [12]:
print(type(var))

<class 'str'>

In [15]:
var=geetha

NameError: name 'geetha' is not defined

In [16]:
x=5
y=10
print(x+y)

15

In [17]:
sum=x+y
print(sum)

15

In [18]:
print('sum is=',sum)

sum is= 15

In [19]:
print(type(x))

<class 'int'>

In [22]:
print('sum=' ,x+y)

sum= 15

In [3]:
print('Day' * 5)

DayDayDayDayDay

In [4]:
print ('Day' + 2)

TypeError: can only concatenate str (not "int") to str

In [7]:
#print (int('Day') + 2)

print ('Day ' + str(2))

Day 2

In [9]:
print ('Day 2')

Day 2

In [10]:

my_dict ={'key1':'value1','key2':'value2'}

In [11]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [12]:
my_dict = {'Roll number':123,'Marks':[12,23,33],'Subject':['Computer','Science','Maths']}

In [13]:
#Let's call items from the dictionary
my_dict['Subject']

['Computer', 'Science', 'Maths']

In [14]:
#Can call an index on that value
my_dict['Subject'][2]

'Maths'

In [15]:
#Can then even call methods on that value
my_dict['Subject'][0]

'Computer'

In [16]:
#add marks to the first element
my_dict['Marks'][0] = my_dict['Marks'][0] + 30

In [17]:
#check
my_dict['Marks']

[42, 23, 33]

In [18]:
# Another way of adding
my_dict['Marks'][2] += 20

In [19]:
my_dict['Marks']

[42, 23, 53]

In [21]:
#add new key
my_dict['year'] = '3rd'

In [22]:
my_dict

{'Roll number': 123,
 'Marks': [42, 23, 53],
 'Subject': ['Computer', 'Science', 'Maths'],
 'year': '3rd'}

In [25]:
#update value
my_dict.update({'Roll_number':100})

In [26]:
my_dict

{'Roll number': 123,
 'Marks': [42, 23, 53],
 'Subject': ['Computer', 'Science', 'Maths'],
 'year': '3rd',
 'Roll_number': 100}

In [28]:
i = 8

if i < 10:

   print('It is less than 10')
    
else:
    print('It is something else')

It is less than 10

In [29]:
item_1 = 200

item_2 = 200

if (item_1 + item_2) >= 500:

IndentationError: expected an indented block (Temp/ipykernel_10680/2838814081.py, line 8)

In [30]:
a = 200

b = 33

c = 500

if a > b and c < a:
    print('Both conditions are True')
else:
    print('Both are not True')

Both are not True

In [32]:
a = 200

b = 33

c = 500

if a > b or c < a:
    print('At least one of the conditions is True')

At least one of the conditions is True

In [ ]:
marks + 48